In [1]:
import pandas as pd

C:\Users\sahil singh\AppData\Local\Temp\ipykernel_16824\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv('data/Train.csv')

In [3]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df=df.drop(labels=['Item_Identifier'],axis=1)

In [5]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
X=df.drop(labels='Item_Outlet_Sales',axis=1)
y=df[['Item_Outlet_Sales']]

In [7]:
X

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store
4,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1
8519,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1
8521,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1

In [8]:
X['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [9]:
y

      Item_Outlet_Sales
0             3735.1380
1              443.4228
2             2097.2700
3              732.3800
4              994.7052
...                 ...
8518          2778.3834
8519           549.2850
8520          1193.1136
8521          1845.5976
8522           765.6700

[8523 rows x 1 columns]

In [10]:
categorical_columns = X.select_dtypes(include='object').columns
numerical_columns = X.select_dtypes(exclude='object').columns

In [11]:
categorical_columns

Index(['Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size',
       'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

In [12]:
numerical_columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year'],
      dtype='object')

In [13]:
X['Item_Fat_Content']=X['Item_Fat_Content'].str.replace('LF','Low_Fat')
X['Item_Fat_Content']=X['Item_Fat_Content'].str.replace('low fat','Low_Fat')

X['Item_Fat_Content']=X['Item_Fat_Content'].str.replace('reg','Regular')

In [14]:
X[categorical_columns].describe()

,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,8523,8523,8523,6113,8523,8523
unique,3,16,10,3,3,4
top,Low Fat,Fruits and Vegetables,OUT027,Medium,Tier 3,Supermarket Type1
freq,5089,1232,935,2793,3350,5577

In [15]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Label Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [16]:
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]
)

cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder()),
    ('scaler',StandardScaler())
    ]
)

preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_columns),
('cat_pipeline',cat_pipeline,categorical_columns)
])

In [17]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [18]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [19]:
X_train

,num_pipeline__Item_Weight,num_pipeline__Item_Visibility,num_pipeline__Item_MRP,num_pipeline__Outlet_Establishment_Year,cat_pipeline__Item_Fat_Content,cat_pipeline__Item_Type,cat_pipeline__Outlet_Identifier,cat_pipeline__Outlet_Size,cat_pipeline__Outlet_Location_Type,cat_pipeline__Outlet_Type
0,-0.047514,-0.516518,-1.637167,-1.530854,0.269849,1.359115,0.108477,-0.277708,1.082278,2.257638
1,-1.278169,2.700921,1.083355,0.017690,-0.794209,1.834044,-1.657821,-0.277708,1.082278,-1.510987
2,-1.160795,-1.172861,-0.301400,0.136809,-0.794209,-0.540605,1.521515,-0.277708,-1.385001,-0.254779
3,1.760531,-1.003937,0.117483,1.327996,-0.794209,0.409255,-0.598042,-0.277708,1.082278,1.001429
4,-0.047514,-0.885663,-1.558515,-1.530854,-0.794209,0.409255,0.108477,-0.277708,1.082278,2.257638
...,...,...,...,...,...,...,...,...,...,...
5961,0.159967,-1.280470,-1.008886,0.732403,1.333907,1.359115,0.461736,1.384081,-0.151362,-0.254779
5962,-1.275798,-0.550617,-1.090730,0.136809,-0.794209,-1.727930,1.521515,-0.277708,-1.385001,-0.254779
5963,-0.160146,-1.280470,-0.371370,1.089759,-0.794209,0.409255,-0.951302,-0.277708,-0.151362,-0.254779
5964,-0.047514,-0.908137,0.375316,-1.530854,1.333907,1.359115,-0.244783,1.384081,-1.385001,-1.510987
5965,-1.195177,1.421867,-0.568426,-0.101429,-0.794209,-0.778070,1.168255,1.384081,-1.385001,-0.254779

In [20]:
X_test

,num_pipeline__Item_Weight,num_pipeline__Item_Visibility,num_pipeline__Item_MRP,num_pipeline__Outlet_Establishment_Year,cat_pipeline__Item_Fat_Content,cat_pipeline__Item_Type,cat_pipeline__Outlet_Identifier,cat_pipeline__Outlet_Size,cat_pipeline__Outlet_Location_Type,cat_pipeline__Outlet_Type
0,-0.047514,1.630789,-0.932362,-1.530854,1.333907,0.646720,0.108477,-0.277708,1.082278,2.257638
1,-0.047514,-0.618152,-1.576348,-1.530854,-0.794209,-1.727930,0.108477,-0.277708,1.082278,2.257638
2,-1.294768,1.822005,-0.764417,0.136809,-0.794209,1.359115,1.521515,-0.277708,-1.385001,-0.254779
3,-0.397267,0.767042,-0.587280,1.327996,1.333907,-1.727930,-0.598042,-0.277708,1.082278,1.001429
4,1.997651,-1.086459,0.709715,0.494165,-0.794209,0.646720,0.814996,-0.277708,-0.151362,-0.254779
...,...,...,...,...,...,...,...,...,...,...
2552,1.227009,3.344333,-0.849496,0.017690,1.333907,-0.303140,-1.657821,-0.277708,1.082278,-1.510987
2553,0.515648,-0.035896,-1.540809,0.494165,-0.794209,-0.065675,0.814996,-0.277708,-0.151362,-0.254779
2554,1.227009,-0.905141,-0.184017,0.732403,-0.794209,0.171790,0.461736,1.384081,-0.151362,-0.254779
2555,-0.988882,0.427033,-0.292760,0.732403,1.333907,1.359115,0.461736,1.384081,-0.151362,-0.254779
2556,-0.077154,0.847679,-0.933469,-1.292616,1.333907,-0.303140,-1.304561,-1.939496,1.082278,-0.254779

In [21]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

In [22]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [23]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [24]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet(),
    'SVR':SVR(),
    'RandomForestRegressor':RandomForestRegressor()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1223.9478210869843
MAE: 910.5887199302919
R2 score 50.20282873354894
===================================


Lasso
Model Training Performance
RMSE: 1223.852714912517
MAE: 910.3421380102718
R2 score 50.21056735503595
===================================


Ridge
Model Training Performance
RMSE: 1223.944385082434
MAE: 910.5734633142653
R2 score 50.20310832564257
===================================


Elasticnet
Model Training Performance
RMSE: 1288.5923870599543
MAE: 961.5104991263861
R2 score 44.8036971648197
===================================

e:\ML- Projects\Stores Sales Prediction\venv\lib\site-packages\scikit_learn-1.4.0-py3.9-win-amd64.egg\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR
Model Training Performance
RMSE: 1696.0344875630353
MAE: 1249.2476386319945
R2 score 4.3801133802283125
===================================

e:\ML- Projects\Stores Sales Prediction\venv\lib\site-packages\scikit_learn-1.4.0-py3.9-win-amd64.egg\sklearn\base.py:1351: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor
Model Training Performance
RMSE: 1156.0249732247341
MAE: 795.8226785342197
R2 score 55.57644618338635
===================================